CLIENT_ID=19334903947-v951gi4p4o4ga50hm6gi4c840b8kok57.apps.googleusercontent.com # Obtained from GCP console as OAuth 2.0 Client ID
CLIENT_SECRET=jqwekqp340vnka0k45nhLy0J # Obtained from GCP console
COOKIE_AUTH_KEY=098098adfvasdf80 # Random 16 or 32 characters
COOKIE_ENCRYPT_KEY=09809vasdf09asdf90asf9sadf8as0do # Random 32 characters
SERVER_URL=https://prog-edu-assistant.salikh.info # The stable server URL
HASH_SALT=abcdef # A random string
